* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background-color: rgb(208, 255, 239);
  }
  
  .main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .genius {
    display: grid;
    grid-template-areas:
      'green-area red-area'
      'yellow-area blue-area';
    gap: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    width: 500px;
    height: 500px;
  }
  
  .green-area {
    grid-area: green-area;
    background-color: green;
    border-top-left-radius: 100%;
  }
  
  .red-area {
    grid-area: red-area;
    background-color: red;
    border-top-right-radius: 100%;
  }
  
  .yellow-area {
    grid-area: yellow-area;
    background-color: yellow;
    border-bottom-left-radius: 100%;
  }
  
  .blue-area {
    grid-area: blue-area;
    background-color: blue;
    border-bottom-right-radius: 100%;
  }
  
  .selected {
    opacity: 0.4;
  }